@import '@fortawesome/fontawesome-free/css/all.css';

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Chiều cao toàn bộ màn hình */
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.loginComponent {
  background: url('../src/img/banner1.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_login {
  margin-bottom: 20px;
  font-weight: 300;
  color: #777;
}

.form-container {
  background: white;
  width: 30%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* SearchBar */
.box-search {
  width: 100%;
  display: flex;
  position: relative;
  border: 1px solid rgb(221, 221, 227);
  border-radius: 8px;
  -webkit-box-align: center;
  align-items: center;
}

.box-search .icon-search {
  width: 20px;
  height: 20px;
  margin: 0px 0px 0px 18px;
}

.box-search .search_value {
  border: 0px;
  padding: 0px 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  flex: 1 1 0%;
  outline: none;
}

.button-search {
  cursor: pointer;
  border: 0px;
  width: 92px;
  height: 38px;
  padding: 4px;
  border-radius: 0px 8px 8px 0px;
  background: transparent;
  color: rgb(2, 2, 2);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  outline: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
}

/* Modal Styles */
.modal-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

.modal-title {
  font-weight: bold;
  color: #333;
}

.modal-body {
  padding: 20px;
}

.modal-body label {
  font-weight: bold;
  color: #555;
}

.modal-body textarea,
.modal-body input {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}

.modal-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
}

.modal-footer button {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  border: none;
  transition: background-color 0.3s ease;
}

.modal-footer .btn-secondary {
  background-color: #6c757d;
  color: white;
}

.modal-footer .btn-primary {
  background-color: #007bff;
  color: white;
}

.modal-footer .btn-secondary:hover {
  background-color: #5a6268;
}

.modal-footer .btn-primary:hover {
  background-color: #0056b3;
}



.user_tab{
  height: 600px;
}

/* Product not found */
.not_found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  padding: 30px;
}

.not_found h2 {
  font-size: 80px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.not_found p {
  font-size: 1.1rem;
  color: #777;
  margin-bottom: 30px;
}

.not_found .btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.not_found .btn:hover {
  background-color: #0056b3;
  color: #fff;
}