.footer {
    background-color: #111;
    color: #ccc;
    padding: 40px 0;
}

.footer h5 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.footer a {
    color: #ccc;
    text-decoration: none;

}

.list-unstyled {
    text-align: center;
}

.footer a:hover {
    color: #fff;
}

