/* Product Card Styles */
.card.product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
}

.card.product-card:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
    cursor: pointer;
}

.card-img-wrapper {
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.card-img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.card-img-wrapper img:hover {
    transform: scale(1.1);
}

.card-body h5 {
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
}

.card-body p {
    color: #777;
    font-size: 14px;
}

.btn-block {
    margin: 10px 0;
    font-size: 14px;
}
.spinner-border {
    justify-content: center;
}

.add_product {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.btn_add {
    margin-left: 20px;
    background-color: #28a745;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.btn_add:hover {
    background-color: #218838;
    color: #fff;
}