.cart-container {
    max-width: 1000px;
    margin: 50px auto;
    margin-bottom: 200px;
}

.cart-header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.cart-total {
    border: 1px solid #dee2e6;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
}

.cart-total h5 {
    font-weight: bold;
}

.cart-total .btn {
    width: 100%;
}

.cart-item {
    border-bottom: 1px solid #dee2e6;
    padding: 15px 0;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item img {
    width: 50px;
    height: auto;
}

.cart-item-name {
    font-weight: bold;
}

.remove-item {
    color: red;
    cursor: pointer;
}

.coupon-input {
    width: 100%;
}


